@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');
body 
{
	font-family: 'Smythe', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f6efe7;
}

header{
    overflow: hidden;
   
    padding-left: 50px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

   

    background-size:contain;
    color: white;
    /* background-image: url('https://i.postimg.cc/J7FW7sxw/gp4k2jro-burgers-625x300-20-June-22.jpg'); */
    background-image: url('https://img.freepik.com/free-vector/hand-drawn-pattern-background_23-2150829919.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1719705600&semt=ais_user');
}

header h1 {
    font-size: 2.5rem;
    /* color: #b58757; */
    color: black;
}
header p {
    color: black;
    font-size: 1.5rem;
}

.container{
    margin: 30px;
    display: flex;
    
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    /* background-color: aliceblue; */
    align-items: center;
}

/* #main{
    margin-top: 350px;
} */

.emoji, .add{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.emoji{
    flex-grow: 1;
    width: 80px;
    /* background-color: pink; */

}

.item{
    width: 100px;
    /* background-color: yellow; */

}

.item-name{
    font-size: 1.3rem;
}
.item-ingeridents{
  color: gary;
  opacity: 0.5;
}

.item-price{
  margin-top: 3px;
}


.add{
 
    /* background-color: #16DB99; */
}

.add button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    border: 1px solid gray;
    background-color: transparent;
}


/* .order-section{
   
    
    position: fixed;
    bottom: 0;
    width: 85%;
    margin: auto;
    background-color:#fcd3a7;
  
    font-size:1.3rem;
} */

.order-section{
    display: none;
    overflow:scroll;
    background-color: #ffefc6;
    position: fixed;
    bottom: 0;
    height:auto;
    max-height: 200px;
    margin: 20px;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.emoji{
    max-width: 100px;
}
.item{
    width: 50%;
  

}




#catimg{
    height: 110px;
    position: fixed;
  

    /* position: absolute;
    top: 0;
    z-index: 9; */
}

.o-s-item{
    display: flex;
    margin: 15px 0px;
}

.o-s-i-remove{
    font-size: 0.7rem;
    opacity: 0.5;
    margin-left: 5px;
    line-height: 30px;
    
}


.o-s-i-price{
    margin-right: 20px;
    margin-left: auto;
}
.order-section button{
    width: 100%;
    outline: 0;
    padding: 15px 0px;
    border: none;
    background-color: #432818;
    color: white;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.order-section h2{
    text-align: center;
}




.detail-popup b{
    margin-bottom: 10px;
}

.hideme{
    display: block;
}

.say-thanks{
    /* margin-left: auto;
    margin-right: auto;
    height: 120;
    width: 85%;
    border-radius: 3px;
    background-color: #ECFDF5;
    color : #065f46;
    font-family: 'Smythe', cursive;
    padding: 30px 20px;
    text-align: center; */
  text-align: center;
    margin-top: 50px;
    font-family: 'Smythe', cursive;
    text-align: center;
    font-size: 1rem;
    margin-left: 50%;
}

@media only screen and (min-width: 426px) {
    body {
      /* background-color: lightblue; */
    }
    header{
        height: 200px;
    }
    .emoji{
        max-width: 250px;
    }

    .container{
        width: 50%;
    }
    .item{
        width: 70%;
    }

    .order-section::-webkit-scrollbar {
        display: none;
      }
      
    .order-section{
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow:scroll;
        background-color: #ffe6a782;
        position: fixed;
        right: 20px;
        height:auto;
        max-height: 400px;
        margin: 30px;
        width: 600px;
        padding: 50px 70px;
        border-radius: 15px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    }
    #catimg{
        margin-top: 50px;
        height: 150px;
        position: relative;
      
    }
    .hideme{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: block;
        text-align: center;
   }
   .say-thanks{
    /* margin-left: auto;
    margin-right: auto;
    height: 120;
    width: 85%;
    border-radius: 3px;
    background-color: #ECFDF5;
    color : #065f46;
    font-family: 'Smythe', cursive;
    padding: 30px 20px;
    text-align: center; */
    margin-top: 50px;
    font-family: 'Smythe', cursive;
    text-align: center;

    margin-left: 0px;
    font-size: 1.5rem;
}
  }
